{{>header}}
<form action="/agregado" method="POST">
  <label>Nombre: <input type="text" name="name" required /></label><br>
  <label>ID: <input type="number" name="id" required /></label><br>
  <label>Descripción: <input type="text" name="description"
      required /></label><br>
  <label>Valor: <input type="number" name="value" required /></label><br>
  <label>Modalidad: <select name="mode">
    <option value="-" selected>-</option>
    <option value="virtual">Virtual</option>
    <option value="presencial">Presencial</option>
  </select></label><br>
  <label>Intensidad horaria: <input type="number" name="hours" /></label><br>
  <input type="submit" value="Ingresar">
</form>
{{>footer}}