<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <title>CRUD CURSOS</title>
</head>

<body>
    <h1>{{title}}</h1>
    <h2>Menú</h2>
    <ul>
        <li><a href="/ingresar">Ingresar</a></li>
        <li><a href="/lista">Listar</a></li>
        <li><a href="/actualizar">Actualizar</a></li>
        <li><a href="/inscribir">Inscribir</a></li>
    </ul>
    {{>footer}}