{{>header}}
<form action="/actualizado" method="POST">
  <p>{{{updateHelper}}}</p>
  <label>Estado: <select name="avaliable">
      <option value="disponible">Disponible</option>
      <option value="cerrado">Cerrado</option>
    </select></label><br><br>
  <input type="submit" value="Actualizar">
</form>
{{>footer}}